


form {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    background-color: #000000;

  }
  
  
  label {
    display: block;
    margin-bottom: 1px;
    font-weight: 600;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
  }


  .butn{
    width: 100%;
   
    display: flex;
    justify-content: space-around;
      }
  
  form button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;   
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    form {
      max-width: 100%;
    }
  }
  